* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ECE9FD;
  padding: 60px 23px 66px;
  font-size: 16px;
}

main {
  max-width: 330px;
  margin: 0 auto;
}

main p:first-child {
  letter-spacing: 3px;
  font-style: normal;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: #7158Ef;
  margin-bottom: 17px;
  line-height: 32px;

}

h1 {
  font-family: "Epilogue", sans-serif;
  line-height: 48px;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 800;
}

h1 + p {
  color: rgba(10, 0, 57, 0.64);
  line-height: 32px;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: #090039;
}

a:hover {
  color: #3821ba;
}

ul {
  list-style: none;
  margin-top: 72px;
}

ul li span {
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #090039;
}

ul li {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #090039;

  display: flex;
  
  max-width: 257px;

  gap: 38px;
}

ul li + li {
  margin-top: 32px;
}

/* media queries */
@media (min-width: 769px) {
  body {
    padding: 80px;
  }
  main {
    max-width: 1020px;
    display: flex;
    gap: 100px;
  }
  main > div {
    max-width: 484px;
  }
  ul li {
    gap: 53px;
    max-width: 450px;
    align-items: center;
  }
}